.project-link:hover {
    text-decoration: none;
}
/* body {
background-color: linear-gradient(180deg,#6169ff 0,#43de9b); */
/* background-image: linear-gradient(180deg,#6169ff,#43de9b); */
/* }  */


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#head-img {

    border-radius: 50%;
    object-fit: cover;

}

.full-width {
    width: 100%;
/*     height: 600px;  */
    background: #6169ff;
}

.center-text {
    text-align: center;
    color: white;
    font-size: 1em;
/*     vertical-align: middle; */
/*     padding: 0 auto; */
    padding-bottom: 5%
 

}
/* span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;s
} */

#projects {
    padding-top: 10%;
    padding-bottom: 10%
}


ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.card {
    text-align: center;

}
.inner-div {
   padding: 5%;
}
h5 {
    color:  #6169ff;
}

#projects-row{
    margin: 2%
}

.project-headlines {
    color:  #6169ff;
    font-size: 1.5em;
    padding-top: 2%;
}

#experience {
    padding-bottom:5%
}

.fa-icon {
    color:#6169ff;
    font-size: 2em;

}

#contact {
    padding-top: 10%;
    padding-bottom: 10%

}
#contact a {
    color: #6169ff;
}
#bottom-social{
    text-align:center;
}

a:hover{
    color: #2d37e3;
    text-decoration: none;

}